.home-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.home-banner h1 {
    font-size: 80px;
    letter-spacing: 3px;
    font-weight: 600;
}
.title-name {
  font-size: 80px;
  color: steelblue;
  font-weight: 600;
  letter-spacing: 3px;
}
.home-banner img {
    width: 50%;
    height: 500px;
    padding-left: 50px;
}
.title {
    text-align: left;
    padding: 20px;
    letter-spacing: 2px;
}
.row-style {
    padding: 10px 15px;
    margin-bottom: 50px;
}
.col-style {
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
}
.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 240, 241, 0.795);
    height: 300px;
}
.review {
    padding: 20px 50px 20px 80px;
    text-align: left;
}

